# ENVIRONMENT VARS
# - Control which vars are exposed client-side in next.config.js
# - Production vars should be stored in your Zeit account and then added
# to now.json to expose them to your app (see https://bit.ly/2yBrZRw).

FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=

AMAZON_ACCESS_KEY_ID=
AMAZON_SECRET_ACCESS_KEY=
AWS_SES_CONTACT_EMAIL=

GOOGLE_ANALYTICS_TRACKING_ID=
